In [1]:
import pandas as pd
import numpy as np
import os
import shutil

In [2]:
df_interactions = pd.read_csv('../data/userid_trackid_timestamp_onion.tsv', sep='\t')
print(df_interactions.shape)
df_interactions.head()

(473815, 4)

   user_id          track_id            timestamp   period
0   117534  hxGBTxhSf7o6b1fz  2014-05-31 14:37:22  2014-05
1   117534  fSQrzRe2g3gsEMoq  2014-05-31 14:52:28  2014-05
2   117534  I53KHO4GCKMeUKUN  2014-05-31 14:44:53  2014-05
3   117534  nd4vejLsgjjhl55B  2014-05-31 14:33:22  2014-05
4   117534  WR82nGL7vKxitC5Q  2014-05-31 14:48:08  2014-05

In [3]:
df_emma = pd.read_csv('../data/id_emma.tsv', sep='\t')
df_emma

,id,wond,tran,tend,nost,peac,joya,ener,sadn,tens
0,XEbyzfafxVpCCLK2,1.594081,-0.667002,-0.150606,-1.513499,-0.816678,0.428617,1.198807,-0.446335,0.612913
1,wpldgYOXl8u6XbLE,1.553820,2.420615,1.212955,-0.130002,0.431165,0.099829,1.764385,-0.196834,-1.268899
2,nltzxmV9aWW7F7z8,0.461760,-0.140861,-0.240865,-0.581115,-0.609828,1.255161,2.990274,-0.503040,-1.268899
3,IIfvFDMGH4mskejp,-0.641098,-0.064888,-0.945242,-1.094666,-0.689187,1.339656,0.696600,-0.628664,-0.671147
4,kXNEvIQ4JLPHMu3H,-0.432962,-0.497407,0.074756,-0.770869,0.790146,0.250230,-0.262315,-0.432901,-0.504749
...,...,...,...,...,...,...,...,...,...,...
504,ZR4UokUqcWBT4ERU,0.586800,2.189592,-0.253315,3.456587,-0.663044,1.923693,2.139593,-0.903227,-0.105909
505,zsDz17XVFUFYh4y7,0.857097,0.131091,2.164516,1.233984,2.145191,-0.777977,-1.442610,-0.055070,-1.054949
506,ZSnDQ7mhvjJLx9IG,-1.160694,-1.318940,-0.307150,-0.417539,-0.161656,-0.601481,-0.900951,-0.395868,-0.305295
507,ZVjUg4rlqeq2zk7C,-0.127027,-0.082542,-0.214522,-0.492390,0.360165,-0.382865,-0.398755,-0.390467,-0.751960
508,zxC5zqbgoYmtcioA,-0.730983,-0.767691,-0.598757,-0.995291,-1.143677,0.981637,0.653585,-1.012753,0.087939

In [4]:
df_interactions = df_interactions[df_interactions['track_id'].isin(df_emma.id)]
print(df_interactions.shape)
df_interactions.head()

(7916, 4)

     user_id          track_id            timestamp   period
81     34658  Q08DjqYYbc3AvWQx  2014-05-24 23:52:44  2014-05
139    40004  SGY1zM5vXy6T4rdB  2014-05-30 15:34:13  2014-05
170     7377  rZ8By2I0wKNm1r0t  2014-05-21 13:23:07  2014-05
299     5792  SGY1zM5vXy6T4rdB  2014-05-30 11:27:00  2014-05
340    61756  cwXiTYqrj7AOGn7x  2014-05-28 23:41:59  2014-05

In [5]:
# sparsity of dataset
n_users = df_interactions['user_id'].nunique()
n_items = df_interactions['track_id'].nunique()
n_interactions = df_interactions.shape[0]
sparsity = 1 - n_interactions / (n_users * n_items)
sparsity

0.992684026853577

In [6]:
n_items

204

In [7]:
n_users

5304

In [8]:
# export
df_interactions.to_csv('../data/userid_trackid_timestamp_emma.tsv', sep='\t', index=False)