In [1]:
import pandas as pd
import numpy as np
import os
import shutil

In [2]:
df_interactions = pd.read_csv('../data/userid_trackid_timestamp_2014.tsv', sep='\t')
print(df_interactions.shape)
df_interactions.head()

(673432, 5)

   user_id          track_id            timestamp  year    month
0    31441  x4hv0ALTsGICpzry  2014-04-09 10:58:14  2014  2014-04
1    27941  InE2v5bxFNZ6Mow0  2014-03-23 12:07:38  2014  2014-03
2    33179  FdlV9QADnS2vD3jE  2014-04-14 15:35:43  2014  2014-04
3    44706  XIFUDCiXv38XEWiX  2014-03-10 07:17:18  2014  2014-03
4    68443  0zYSX03Sqv8YHEwv  2014-04-03 18:24:29  2014  2014-04

In [3]:
df_emma = pd.read_csv('../data/id_emma.tsv', sep='\t')
df_emma

,id,wond,tran,tend,nost,peac,joya,ener,sadn,tens
0,XEbyzfafxVpCCLK2,1.594081,-0.667002,-0.150606,-1.513499,-0.816678,0.428617,1.198807,-0.446335,0.612913
1,wpldgYOXl8u6XbLE,1.553820,2.420615,1.212955,-0.130002,0.431165,0.099829,1.764385,-0.196834,-1.268899
2,nltzxmV9aWW7F7z8,0.461760,-0.140861,-0.240865,-0.581115,-0.609828,1.255161,2.990274,-0.503040,-1.268899
3,IIfvFDMGH4mskejp,-0.641098,-0.064888,-0.945242,-1.094666,-0.689187,1.339656,0.696600,-0.628664,-0.671147
4,kXNEvIQ4JLPHMu3H,-0.432962,-0.497407,0.074756,-0.770869,0.790146,0.250230,-0.262315,-0.432901,-0.504749
...,...,...,...,...,...,...,...,...,...,...
504,ZR4UokUqcWBT4ERU,0.586800,2.189592,-0.253315,3.456587,-0.663044,1.923693,2.139593,-0.903227,-0.105909
505,zsDz17XVFUFYh4y7,0.857097,0.131091,2.164516,1.233984,2.145191,-0.777977,-1.442610,-0.055070,-1.054949
506,ZSnDQ7mhvjJLx9IG,-1.160694,-1.318940,-0.307150,-0.417539,-0.161656,-0.601481,-0.900951,-0.395868,-0.305295
507,ZVjUg4rlqeq2zk7C,-0.127027,-0.082542,-0.214522,-0.492390,0.360165,-0.382865,-0.398755,-0.390467,-0.751960
508,zxC5zqbgoYmtcioA,-0.730983,-0.767691,-0.598757,-0.995291,-1.143677,0.981637,0.653585,-1.012753,0.087939

In [4]:
df_interactions = df_interactions[df_interactions['track_id'].isin(df_emma.id)]
print(df_interactions.shape)
df_interactions.head()

(10946, 5)

     user_id          track_id            timestamp  year    month
36     13288  yfm7RER1PWTqgjIp  2014-03-16 18:31:51  2014  2014-03
52     69279  qnmsOhb7GYwNNC4S  2014-03-25 22:43:31  2014  2014-03
53     13764  yfm7RER1PWTqgjIp  2014-02-13 06:23:23  2014  2014-02
79     46933  yfm7RER1PWTqgjIp  2014-04-05 00:16:39  2014  2014-04
203    70060  yfm7RER1PWTqgjIp  2014-04-03 11:31:02  2014  2014-04

In [5]:
# sparsity of dataset
n_users = df_interactions['user_id'].nunique()
n_items = df_interactions['track_id'].nunique()
n_interactions = df_interactions.shape[0]
sparsity = 1 - n_interactions / (n_users * n_items)
sparsity

0.990764739630792

In [6]:
n_items

210

In [7]:
n_users

5644

In [8]:
# export
df_interactions.to_csv('../data/userid_trackid_timestamp_emma.tsv', sep='\t', index=False)