In [1]:
import pandas as pd
import numpy as np
import os
import shutil

In [2]:
df_interactions = pd.read_csv('../data/userid_trackid_timestamp_2014.tsv', sep='\t')
print(df_interactions.shape)
df_interactions.head()

(4463058, 5)

   user_id          track_id            timestamp  year    month
0   117534  hxGBTxhSf7o6b1fz  2014-08-24 19:40:30  2014  2014-08
1   117534  fSQrzRe2g3gsEMoq  2014-08-24 19:55:29  2014  2014-08
2   117534  I53KHO4GCKMeUKUN  2014-08-24 19:47:52  2014  2014-08
3   117534  nd4vejLsgjjhl55B  2014-08-24 19:36:23  2014  2014-08
4   117534  WR82nGL7vKxitC5Q  2014-08-24 19:51:04  2014  2014-08

In [ ]:
df_interactions = df_interactions[df_interactions['month'] == '2014-03']
print(df_interactions.shape)
df_interactions.head()

(421460, 5)

     user_id          track_id            timestamp  year    month
238        2  GQhI5QI1RFRudk7m  2019-05-01 19:59:30  2019  2019-05
239        2  EtTwIYQfIW5fuFOg  2019-05-01 20:13:48  2019  2019-05
240        2  ZE0Qw5xyNfvFYwxi  2019-05-03 16:28:22  2019  2019-05
241        2  M5moQgvxdgjXQaje  2019-05-07 22:37:38  2019  2019-05
242        2  KguTteL3tOdobHH3  2019-05-08 07:15:58  2019  2019-05

In [13]:
# sparsity of dataset
n_users = df_interactions['user_id'].nunique()
n_items = df_interactions['track_id'].nunique()
n_interactions = df_interactions.shape[0]
sparsity = 1 - n_interactions / (n_users * n_items)
sparsity

0.9993387560732468

In [14]:
n_items

49146

In [15]:
n_users

12969

In [16]:
# export
df_interactions.to_csv('../data/userid_trackid_timestamp_onion.tsv', sep='\t', index=False)

In [9]:
#sparsity = 1 - 616157 / (22953 * 23861)
#sparsity