In [6]:
import pandas as pd
import numpy as np
import os
import shutil

In [7]:
df_interactions = pd.read_csv('../data/userid_trackid_timestamp_2014.tsv', sep='\t')
print(df_interactions.shape)
df_interactions.head()

(4463058, 5)

   user_id          track_id            timestamp  year    month
0   117534  hxGBTxhSf7o6b1fz  2014-08-24 19:40:30  2014  2014-08
1   117534  fSQrzRe2g3gsEMoq  2014-08-24 19:55:29  2014  2014-08
2   117534  I53KHO4GCKMeUKUN  2014-08-24 19:47:52  2014  2014-08
3   117534  nd4vejLsgjjhl55B  2014-08-24 19:36:23  2014  2014-08
4   117534  WR82nGL7vKxitC5Q  2014-08-24 19:51:04  2014  2014-08

In [8]:
df_interactions = df_interactions[df_interactions['month'] == '2014-05']
print(df_interactions.shape)
df_interactions.head()

(306338, 5)

     user_id          track_id            timestamp  year    month
48     31718  tc3VSkQnxAcVgtJ0  2014-05-14 05:48:36  2014  2014-05
66     44824  tecON02DYeSrxsgw  2014-05-20 04:29:32  2014  2014-05
87     50298  ZS7cYFuaZpVPjcCa  2014-05-11 16:04:43  2014  2014-05
127    68451  BLQ0MVtFsdqusuoC  2014-05-08 17:21:00  2014  2014-05
144   113497  wLrYaZGgflCudkS2  2014-05-14 23:26:42  2014  2014-05

In [9]:
# sparsity of dataset
n_users = df_interactions['user_id'].nunique()
n_items = df_interactions['track_id'].nunique()
n_interactions = df_interactions.shape[0]
sparsity = 1 - n_interactions / (n_users * n_items)
sparsity

0.9996402533923023

In [10]:
n_items

30767

In [11]:
n_users

27677

In [12]:
# export
df_interactions.to_csv('../data/userid_trackid_timestamp_onion.tsv', sep='\t', index=False)