In [1]:
import pandas as pd
import numpy as np
import os
import shutil

In [2]:
df_interactions = pd.read_csv('../data/userid_trackid_timestamp_2014.tsv', sep='\t')
print(df_interactions.shape)
df_interactions.head()

(4463058, 5)

   user_id          track_id            timestamp  year    month
0   117534  hxGBTxhSf7o6b1fz  2014-08-24 19:40:30  2014  2014-08
1   117534  fSQrzRe2g3gsEMoq  2014-08-24 19:55:29  2014  2014-08
2   117534  I53KHO4GCKMeUKUN  2014-08-24 19:47:52  2014  2014-08
3   117534  nd4vejLsgjjhl55B  2014-08-24 19:36:23  2014  2014-08
4   117534  WR82nGL7vKxitC5Q  2014-08-24 19:51:04  2014  2014-08

In [3]:
df_interactions = df_interactions[df_interactions['month'] == '2014-03']
print(df_interactions.shape)
df_interactions.head()

(661036, 5)

    user_id          track_id            timestamp  year    month
47   105881  ccuPZ7Z9obk3Efg8  2014-03-05 11:44:07  2014  2014-03
49    34658  Kq5zEzdS2atiI6yA  2014-03-29 10:10:01  2014  2014-03
60    40093  CWJYGGxMa4ppYUvD  2014-03-13 03:04:50  2014  2014-03
76    40093  rYKZ2u8TGNLDuFFx  2014-03-17 19:53:20  2014  2014-03
81     4899  LtbprkKTPfQwCdwI  2014-03-19 23:24:40  2014  2014-03

In [4]:
# sparsity of dataset
n_users = df_interactions['user_id'].nunique()
n_items = df_interactions['track_id'].nunique()
n_interactions = df_interactions.shape[0]
sparsity = 1 - n_interactions / (n_users * n_items)
sparsity

0.9994052629523265

In [5]:
n_items

33058

In [6]:
n_users

33622

In [7]:
# export
df_interactions.to_csv('../data/userid_trackid_timestamp_onion.tsv', sep='\t', index=False)